@import "tailwindcss";

@theme inline {
  --color-forest: #1A4331;
  --color-forest-dark: #0F2C20;
  --color-navy: #1C2939;
  --color-gold: #C5A059;
  --color-gold-hover: #b48a45;
  --color-ice-gray: #F5F7FA;
  
  --font-heading: var(--font-jakarta), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

body {
  background-color: #ffffff;
  color: #334155;
}

